<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.infrastructure.mapper.ICommandMapper">
<!--    <resultMap id="deviceResultMap" type="org.pms.infrastructure.mapper.po.">-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="product_id" property="productId"/>-->
<!--        <result column="device_sn" property="deviceSN"/>-->
<!--        <result column="protocol_sn" property="protocolSN"/>-->
<!--        <result column="status" property="status"/>-->
<!--        <result column="template_id" property="templateId"/>-->
<!--        <result column="customer_account" property="customerAccount"/>-->
<!--        <result column="temperature_upper_bound" property="temperatureUpperBound"/>-->
<!--        <result column="temperature_lower_bound" property="temperatureLowerBound"/>-->
<!--        <result column="voltage_upper_bound" property="voltageUpperBound"/>-->
<!--        <result column="voltage_lower_bound" property="voltageLowerBound"/>-->
<!--        <result column="pressure_upper_bound" property="pressureUpperBound"/>-->
<!--        <result column="pressure_lower_bound" property="pressureLowerBound"/>-->
<!--        <result column="local_atmospheric_pressure" property="localAtmosphericPressure"/>-->
<!--        <result column="longitude" property="longitude"/>-->
<!--        <result column="latitude" property="latitude"/>-->
<!--        <result column="create_time" property="createTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
<!--        <result column="update_by" property="updateBy"/>-->
<!--        <result column="delete_time" property="deleteTime"/>-->
<!--        <result column="delete_by" property="deleteBy"/>-->
<!--        <result column="is_binded" property="binded" javaType="java.lang.Boolean"/>-->
<!--        <result column="is_removed" property="removed" javaType="java.lang.Boolean"/>-->
<!--        <result column="remark" property="remark"/>-->
<!--    </resultMap>-->

</mapper>
