<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.infrastructure.mapper.IDeviceDataMapper">
    <resultMap id="dataReportResultMap" type="org.pms.infrastructure.mapper.po.DeviceDataPO">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="service_id" property="serviceId"/>
        <result column="protocol" property="protocol"/>
        <result column="pipeline_id" property="pipelineId"/>
        <result column="pipeline_sn" property="pipelineSN"/>
        <result column="temperature" property="temperature"/>
        <result column="voltage" property="voltage"/>
        <result column="pressure" property="pressure"/>
        <result column="abnormal_flag" property="abnormalFlag"/>
        <result column="message_type" property="messageType"/>
        <result column="device_type" property="deviceType"/>
        <result column="device_id" property="deviceId"/>
        <result column="device_sn" property="deviceSN"/>
        <result column="assoc_asset_id" property="assocAssetId"/>
        <result column="imsi" property="IMSI"/>
        <result column="imei" property="IMEI"/>
        <result column="create_time" property="createTime"/>
        <result column="process_time" property="processTime"/>
        <result column="process_by" property="processBy"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="delete_by" property="deleteBy"/>
        <result column="is_removed" property="removed" javaType="java.lang.Boolean"/>
        <result column="process_state" property="processState" javaType="java.lang.Boolean"/>
    </resultMap>

    <sql id="commonQueryColumns">
        select id,
               tenant_id,
               service_id,
               protocol,
               pipeline_id,
               pipeline_sn,
               temperature,
               voltage,
               pressure,
               abnormal_flag,
               message_type,
               device_type,
               device_id,
               device_sn,
               assoc_asset_id,
               imsi,
               imei,
               create_time,
               process_time,
               process_by,
               delete_time,
               delete_by,
               is_removed,
               process_state
        from pressuremonitorsys.t_monitor_data_report
    </sql>

    <select id="queryDeviceDataCount" resultType="java.lang.Long">
        select count(*)
        from pressuremonitorsys.t_monitor_data_report
        where is_removed = 0
        <if test="deviceSN != null and deviceSN != ''">
            and device_sn = #{deviceSN}
        </if>
        <if test="processState != null">
            and process_state = #{processState}
        </if>
        <if test="startTime != null">
            and date_format(create_time, '%y-%m-%d') <![CDATA[>=]]> date_format(#{startTime}, '%y-%m-%d')
        </if>
        <if test="endTime != null">
            and date_format(create_time, '%y-%m-%d') <![CDATA[<=]]> date_format(#{endTime}, '%y-%m-%d')
        </if>
    </select>

    <select id="queryDeviceDataList" resultMap="dataReportResultMap">
        <include refid="commonQueryColumns"/>
        where is_removed = 0
        <if test="deviceSN != null and deviceSN != ''">
            and device_sn = #{deviceSN}
        </if>
        <if test="processState != null">
            and process_state = #{processState}
        </if>
        <if test="startTime != null">
            and date_format(create_time, '%y-%m-%d') <![CDATA[>=]]> date_format(#{startTime}, '%y-%m-%d')
        </if>
        <if test="endTime != null">
            and date_format(create_time, '%y-%m-%d') <![CDATA[<=]]> date_format(#{endTime}, '%y-%m-%d')
        </if>
        order by create_time desc
        <if test="pageBegin != null and pageEnd != null">
            limit #{pageBegin}, #{pageEnd}
        </if>
    </select>

    <update id="updateStateById">
        update pressuremonitorsys.t_monitor_data_report
        set process_state = 1,
            process_time  = now(),
            process_by    = #{operatorName}
        where id = #{id}
    </update>

    <update id="deleteDataReportById">
        update pressuremonitorsys.t_monitor_data_report
        set is_removed  = 1,
            delete_time = now(),
            delete_by   = #{operatorName}
        where id = #{id}
    </update>

    <insert id="insertDeviceData" parameterType="org.pms.infrastructure.mapper.po.DeviceDataPO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pressuremonitorsys.t_monitor_data_report
        (tenant_id, service_id, protocol, pipeline_id, pipeline_sn, temperature, voltage,
         pressure, abnormal_flag, message_type, device_type, device_id, device_sn, assoc_asset_id, imsi, imei,
         create_time, process_state)
        VALUES (#{tenantId}, #{serviceId}, #{protocol}, #{pipelineId}, #{pipelineSN},
                #{temperature}, #{voltage}, #{pressure}, #{abnormalFlag}, #{messageType},
                #{deviceType}, #{deviceId}, #{deviceSN}, #{assocAssetId}, #{IMSI}, #{IMEI},
                now(), #{processState})
    </insert>
</mapper>
